@import "../../../_css/common";

.form {
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: var(--base);
}
.payBtn{
  background-color: black;
  color: white;
}
.backBtn{
  background-color: white;
  color: #000;
  border: 1px solid black;
}